.poppins-i{
  font-family: "Poppins";
  font-weight: 600;
  font-style: bold;
}
.bg-own{
    background: linear-gradient(
    10deg,
    rgba(209, 213, 219, 1) 22%,
    rgba(51, 78, 144, 1) 46%,
    rgba(67, 65, 68, 1) 70%
    )
}
